<article class="follow-profile">
  <ul>
    <li class="name">
      <a href="#/api/users/<%= user.id %>">
        <p><%= followee.escape("username") %></p>
      </a>
    </li>
    <li class="follows">
      <a href="#/api/users/<%= followee.id %>">
       <p><i class="fa fa-users"></i> <%= followee.followers().size() %></p>
      </a>
    </li>
  </ul>
  <img class= "avatar" src="<%= followee.escape("avatar") %>">
</article>