<section class="user">

  <img class= "avatar" src="<%= user.escape("avatar") %>">

  <article class="user-info">
    <h1 class="username"><strong><%= user.escape("username") %></strong></h1>
    <h1 class="name"><%= user.escape("fname") %></h1>
    <h1 class="name"><%= user.escape("lname") %></h1>
    <h2 class="city"><%= user.escape("city") %></h2>

    <div class="user-stats group">
      <h1 class="followers">
        <a class="followers-stat" href="#/api/<%= user.id %>/followers"></a>
      </h1>
      <h1 class="tracks">
        <a class="tracks-stat" href="#/api/<%= user.id %>/tracks"></a>
      </h1>
    </div>
  </article>

  <article class="user-action">
    <% if (user.id === Soundclown.currentUser.id) { %>
      <a class="edit-link">Edit</a>
    <% } %>
    <div class="user-follow"></div>
  </article>
</section>

<section id="edit-modal" class="modal">
  <article class="modal-content">
    <span class="modal-x">&times;</span>
    <div class="user-edit-container"></div>
  </article>
  <div class="modal-screen close-modal"></div>
</section>