<h1><%= @user.username %>'s Followers</h1>

<% @user.followers.each do |follower| %>
  <article class="user info">
    <h3 class="name">
      <a href="<%= user_url(follower) %>">
        <%= follower.username %>
      </a>
    </h3>
    <a href="<%= user_follow_url(follower) %>">
      <%= follower.followers.size %> followers
    </a>
  </article>
<% end %>