<section class="user">

  <img class= "avatar" src="<%= @user.avatar.url(:thumb) %>">

  <article class="user-info">
    <h1 class="username"><strong><%= @user.username %></strong></h1>
    <h1 class="name"><%= @user.fname %></h1>
    <h1 class="name"><%= @user.lname %></h1>
    <h2 class="city"><%= @user.city %></h2>

    <div class="user-stats group">
      <h1 class="followers">
        <a href="<%= followers_url(@user) %>">
          <i class="fa fa-users"></i> <%= @user.followers.size %>
        </a>
      </h1>
      <h1 class="tracks">
        <a href="<%= user_tracks_url(@user) %>">
          <i class="fa fa-music"></i> <%= @user.tracks.size %>
        </a>
      </h1>
    </div>
  </article>

  <article class="user-action">
    <%= render "shared/edit_redirect", user: @user %>
    <%= render "shared/follow_form", user: @user %>
  </article>
</section>

<section class="user-stream">
  <%= render "shared/stream_index", items: @stream_items  %>
</section>

<section class="stats">
  <ul>
    <li><%= render "users/stats/playlists", playlists: @user.playlists %></li>
    <li><%= render "users/stats/likes", likes: @user.likes %></li>
    <li><%= render "users/stats/followees", followees: @user.followees %></li>
    <li><%= render "users/stats/comments", comments: @user.authored_comments %></li>
  </ul>
</section>