<h1 class="heading">Sup <%= @user.username %></h1>

<article class="user info">
  <h3 class="name"><%= @user.fname + " " + @user.lname %></h3>
  <h4 class="city"><%= @user.city %></h4>
  <a href="<%= user_follow_url(@user) %>">
    <%= @user.followers.length %> followers
  </a>
</article>

<article class="user action">
  <%= render "shared/follow_form", user: @user %>
</article>

<%= render "shared/reblogged_track_index", tracks: @reblogged_tracks %>

<%= render "shared/uploaded_track_index", tracks: @user.tracks %>

<%= render "shared/comments_show", comments: @user.comments %>

<%= render "shared/comments_form", commentable_id: @user.id, commentable_type: "User" %>