<h1>Sup <%= @user.username %></h1>

<h3><%= @user.fname + " " + @user.lname %></h3>
<h4><%= @user.city %></h4>

<%= render "shared/comments_show", comments: @user.comments %>

<%= render "shared/comments_form", commentable_id: @user.id, commentable_type: "User" %>