<% if @playlists.include?(track) %>
    <form action="<%= playlist_url(track) %>" method="post">
      <%= auth_token %>
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="playlist[creator_id]" value="<%= current_user.id %>">
      <input type="hidden" name="playlist_track[track_id]" value="<%= track.id %>">
      <input type="submit" value="Remove">
    </form>
<% else %>
  <form action="<%= user_playlists_url(@user) %>" method="post">
    <%= auth_token %>
    <input type="hidden" name="playlist[creator_id]" value="<%= current_user.id %>">
    <input type="hidden" name="reblog[track_id]" value="<%= track.id %>">
    <input type="submit" value="Add">
  </form>
<% end %>


<!-- NOT DONE -->