<% if item.is_a?(Track) %>
  <% items = @my_reblogged_tracks %>
  <% user_check = item.poster %>
<% elsif item.is_a?(Playlist) %>
  <% items = @my_reblogged_playlists %>
  <% user_check = item.creator %>
<% end %>

<% if current_user == user_check %>
  <!-- a user should not be able to reblog their own posting -->
<% elsif items.try(:include?, item) %>
    <form action="<%= reblog_url %>" method="post">
      <%= auth_token %>
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="reblog[reblogger_id]" value="<%= current_user.id %>">
      <input type="hidden" name="reblog[track_id]" value="<%= item.id %>">
      <input type="hidden" name="reblog[rebloggable_id]" value="<%= item.id %>">
      <input type="hidden" name="reblog[rebloggable_type]" value="<%= item.class.name %>">
      <input class="submit" type="submit" value="Unreblog">
    </form>
<% else %>
  <form action="<%= reblog_url %>" method="post">
    <%= auth_token %>
    <input type="hidden" name="reblog[reblogger_id]" value="<%= current_user.id %>">
    <input type="hidden" name="reblog[track_id]" value="<%= item.id %>">
    <input type="hidden" name="reblog[rebloggable_id]" value="<%= item.id %>">
    <input type="hidden" name="reblog[rebloggable_type]" value="<%= item.class.name %>">
    <input class="submit" type="submit" value="Reblog">
  </form>
<% end %>

<!-- there is an issue with button toggling for tracks, in playlist show -->