<% if current_user == track.poster %>
  <!-- a user should not be able to reblog their own posting -->
<% elsif @my_reblogged_tracks.include?(track) %>
    <form action="<%= track_reblog_url(track) %>" method="post">
      <%= auth_token %>
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="reblog[reblogger_id]" value="<%= current_user.id %>">
      <input type="hidden" name="reblog[track_id]" value="<%= track.id %>">
      <input type="hidden" name="reblog[rebloggable_id]" value="<%= track.id %>">
      <input type="hidden" name="reblog[rebloggable_type]" value="Track">
      <input type="submit" value="Unreblog">
    </form>
<% else %>
  <form action="<%= track_reblog_url(track) %>" method="post">
    <%= auth_token %>
    <input type="hidden" name="reblog[reblogger_id]" value="<%= current_user.id %>">
    <input type="hidden" name="reblog[track_id]" value="<%= track.id %>">
    <input type="hidden" name="reblog[rebloggable_id]" value="<%= track.id %>">
    <input type="hidden" name="reblog[rebloggable_type]" value="Track">
    <input type="submit" value="Reblog">
  </form>
<% end %>
