<section class="track">
  <article class="play-button">
    <a href="<%= track.escape("musicFile") %>" class="sm2_button play button">
    </a>
  </article>

  <article class="track-info">
    <h2 class="poster">
      <a href="#/api/users/<%= track.get("poster").id %>">
				<%= track.get("poster").username || track.get("poster").escape("username") %>
      </a>
    </h2>
    <a href="#/api/tracks/<%= track.id %>">
      <%= track.escape("artist") %> - <%= track.escape("title") %>
    </a>
  </article>

    <ul class="track stat">
      <li class="likes-stat"></li>
      <li class="reblogs-stat"></li>
      <li class="comments-stat"></li>
    </ul>

    <ul class="track action">
      <li class="like-new"></li>
      <li class="reblog-new"></li>
      <li class="playlist-new">
        <a href="#" class="open-modal"><i class="fa fa-plus"></i></a>
      </li>
    </ul>

</section>

<section id="playlist-modal" class="modal">
  <article class="modal-content">
    <span class="modal-x close-modal">&times;</span>
    <div class="playlist-add-container"></div>
    <div class="playlist-new-container"></div>
  </article>
  <div class="modal-screen close-modal"></div>
</section>