<section class="track group">
  <article class="track info">
    <h2 class="poster">
      <a href="#/api/users/<%= track.get("poster").id %>">
        <%= track.get("poster").username %>
      </a>
    </h2>
    <a class="artist-track" href="#/api/tracks/<%= track.id %>">
      <%= track.escape("artist") %> - <%= track.escape("title") %>
    </a>
  </article>

  <nav class="track nav">
    <ul class="track stat">
      <li class="likes-stat"></li>
      <li class="reblogs-stat"></li>
      <li class="comments-stat"></li>
    </ul>

    <ul class="track action">
      <li class="like-new"></li>
      <li class="reblog-new"></li>
      <li class="playlist-new"></li>
    </ul>
  </nav>

</section>

<ul class="comments-index"></ul>
<div class="comments-new"></div>


