<section class="playlist">

  <article class="playlist-header">
    <article class="playlist-info">
      <a class="creator" href="<%= user_url(playlist.creator) %>">
        <%= playlist.creator.username %>
      </a>
      <a class="playlist-title" href="<%= playlist_url(playlist) %>">
        <%= playlist.title %>
      </a>
    </article>

    <nav class="playlist-nav group">
      <ul class="playlist stat">
        <li class="likes">likes: <%= playlist.likes.size %></li>
        <li class="reblogs">reblogs: <%= playlist.reblogs.size %></li>
      </ul>

      <ul class="playlist action">
        <li><%= render "shared/like_form", item: playlist %></li>
        <li><%= render "shared/reblog_form", item: playlist %></li>
      </ul>
    </nav>
  </article>

  <ul class="playlist-tracks">
    <% playlist.tracks.each_with_index do |track, idx| %>
      <li><%= render "shared/track_show", track: track %></li>
    <% end %>
  </ul>

</section>
