<!DOCTYPE html>
<html>
<head>
  <title>SoundClone</title>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application"%>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <%= csrf_meta_tags %>
</head>
<body>

<% if signed_in? %>
    <header class="header">
      <div class="header-wrap group">

        <h1 class="header-logo">
          <a href="#">
            <img src="<%= asset_path "logo.png" %>" width="92" height="51" alt="Logo">
          </a>
        </h1>

        <h1 class="header-stream">
          <a href="#">Stream</a>
        </h1>

        <nav class="header-nav group">
          <ul>
            <!-- <li>
              <a href="#">
                  <i class="fa fa-flag"></i>
              </a>
            </li> -->

            <li>
              <a href="#/api/users/<%= current_user.id %>">
                   <i class="fa fa-user"></i>
              </a>

              <ul class="navbar-dropdown">
                <li>
                  <a href="#/api/users/<%= current_user.id %>/likes">
                       <i class="fa fa-heart"></i> Likes
                  </a>
                </li>

                <li>
                  <a href="#/api/users/<%= current_user.id %>/followees">
                       <i class="fa fa-users"></i> Following
                  </a>
                </li>

                <li>
                  <a href="#/api/users/<%= current_user.id %>/tracks">
                     <i class="fa fa-music"></i> Tracks
                  </a>
                </li>

                <li>
                  <a href="#/api/users/<%= current_user.id %>/playlists">
                      <i class="fa fa-headphones"></i> Playlists
                  </a>
                </li>


              </ul>

            </li>


            <li>
              <a href="#/api/users/<%= current_user.id %>/tracks/new">
                   Upload
              </a>
            </li>

            <li>
              <a>
                <i class="fa fa-step-backward"></i>
                <i class="fa fa-play"></i>
                <i class="fa fa-step-forward"></i>
              </a>
            </li>

            <li>
              <form action="<%= session_url %>" method="post">
                <%= auth_token %>
                <input type="hidden" name="_method" value="delete">
                <input class="sign-out" type="submit" value="Sign Out">
              </form>
            </li>
          <ul>
        </nav>

      </div>
    </header>
<% else %>
  <header class="header group">

    <h1 class="header-logo">
      <a href="#">
         <img src="<%= asset_path "logo.png" %>" width="92" height="51" alt="Logo">
      </a>
    </h1>

    <nav class="header-nav group">
      <ul>
        <li>
          <a href="<%= new_session_url %>">Sign In</a>
        </li>

        <li>
          <a href="<%= new_user_url %>">Sign Up</a>
        </li>
      </ul>
    </nav>

  </header>
<% end %>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<section class="content group">
  <%= yield %>
</section>

</body>
</html>
